

:root {
	--font-geist-sans: 'Geist';
  }

  @font-face {
	font-family: "Geist";
	src: url("/fonts/geist/Geist-Thin.woff2") format("woff2"),
	  url("/fonts/geist/Geist-Thin.woff") format("woff");
	font-weight: 100;
	font-style: normal;
	font-display: swap;
  }

  @font-face {
	font-family: "Geist";
	src: url("/fonts/geist/Geist-UltraLight.woff2") format("woff2"),
	  url("/fonts/geist/Geist-UltraLight.woff") format("woff");
	font-weight: 200;
	font-style: normal;
	font-display: swap;
  }

  @font-face {
	font-family: "Geist";
	src: url("/fonts/geist/Geist-Light.woff2") format("woff2"),
	  url("/fonts/geist/Geist-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
  }

  @font-face {
	font-family: "Geist";
	src: url("/fonts/geist/Geist-Regular.woff2") format("woff2"),
	  url("/fonts/geist/Geist-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
  }

  @font-face {
	font-family: "Geist";
	src: url("/fonts/geist/Geist-Medium.woff2") format("woff2"),
	  url("/fonts/geist/Geist-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
  }

  @font-face {
	font-family: "Geist";
	src: url("/fonts/geist/Geist-SemiBold.woff2") format("woff2"),
	  url("/fonts/geist/Geist-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
  }

  @font-face {
	font-family: "Geist";
	src: url("/fonts/geist/Geist-Bold.woff2") format("woff2"),
	  url("/fonts/geist/Geist-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
  }

  @font-face {
	font-family: "Geist";
	src: url("/fonts/geist/Geist-Black.woff2") format("woff2"),
	  url("/fonts/geist/Geist-BLack.woff") format("woff");
	font-weight: 800;
	font-style: normal;
	font-display: swap;
  }

  @font-face {
	font-family: "Geist";
	src: url("/fonts/geist/Geist-UltraBlack.woff2") format("woff2"),
	  url("/fonts/geist/Geist-UltraBlack.woff") format("woff");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
  }


